.login__main {
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url("../assets/Imagen1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}