
.amarillo{
    /* --tw-bg-opacity: 1; */
    background-color: rgb(255 209 127 / 0.8);
}

.rosado{
    /* --tw-bg-opacity: 1; */
    background-color: rgb(255 140 140 / 0.8);
}

.verdeclaro{
    /* --tw-bg-opacity: 1; */
    background-color: rgb(217 236 217 /0.8);
}

.verdeoscuro{
    /* --tw-bg-opacity: 1; */
    background-color: rgb(140 197 140 / 0.8);
}

  /* //   rgba(255,209,127,1) AMARILLO
  //   rgba(255,140,140,1) ROSADO ROJIZO
  //   rgba(217,236,217,1) VERDE CLARO
  //   rgba(140,197,140,1) VERDE OSCURO */